acia @ git+https://gitlab+deploy-token-246:1vChivReKYN9aTgQEw-g@jugit.fz-juelich.de/j.seiffarth/acia.git@a9f93f5300ceffef81aff3e8e5369a4d563a1d20
tensor_tree @ git+https://gitlab+deploy-token-245:LAxSyBpyNC8fvQrzrmng@jugit.fz-juelich.de/IBG-1/ModSim/tensortree.git@94cff81983d7a62076a038e649e25c5eae832623
mip>=1.15.0
